mixin index()
  - var prev = page.prev_link
  - var next = page.next_link
  .paginator
    if page.prev
      .prev-wrap.col-md-6.col-xs-6
        i.fa.fa-angle-double-left
        a.prev-page(href=url_for(page.prev_link))!= 'Previous'
    if page.next && !page.prev
      .next-wrap.col-md-6.col-xs-6.col-md-offset-6.col-xs-offset-6
        a.next-page(href=url_for(page.next_link))!= 'Next'
        i.fa.fa-angle-double-right
    if page.next && page.prev
      .next-wrap.col-md-6.col-xs-6
        a.next-page(href=url_for(page.next_link))!= 'Next'
        i.fa.fa-angle-double-right
mixin post()
  -var prev = page.prev ? page.prev.path : false;
  -var next = page.next ? page.next.path : false;
  .post-nav
    if prev
      .prev-wrap.col-md-6.col-xs-6
        i.fa.fa-angle-double-left
        a.prev-post(href=url_for(prev))!= page.prev.title
    if next && !prev
      .next-wrap.col-md-6.col-xs-6.col-md-offset-6.col-xs-offset-6
        a.next-post(href=url_for(next))!= page.next.title
        i.fa.fa-angle-double-right
    if next && prev
      .next-wrap.col-md-6.col-xs-6
        a.next-post(href=url_for(next))!= page.next.title
        i.fa.fa-angle-double-right
