mixin postInfo(page)
  .post-info= full_date(page.data,'MMM Do YYYY')

mixin postTags(page)
  .post-tags-box
    - page.tags.each(function(tag){
      span.post-tag= tag.name
    - })

//-home page
mixin posts()
  .articles
    - page.posts.each(function(item){
      article.post-block
        h2.post-title
          a.post-link(href=url_for(item.path))=item.title
        +postInfo(item)
        if item.excerpt
          .post-content!= item.excerpt
          a(href=url_for(item.path)).article-more= theme.excerpt_link
        else
          .post-content
            != content
        +postTags(item)


    - })

mixin post(page)
  .post
    article.post-block
      h1.post-title
        != page.title
      +postInfo(page)
      +postTags(page)
      .post-content
        != page.content